<h4 align=center>How can we store the given Table</h4>

| Track Number | Track Name | Price | Currency | Rating Count Total | User Rating |
| ----------- | ----------- | ----------- | ----------- | ----------- | ----------- |
| 0 | Facebook | 0.0 | USD | 2974676 | 3.5 |
| 1 | Instagram | 0.0 | USD | 2161558 | 4.5 |
| 2 | Clash of Clans | 0.0 | USD | 2130805 | 4.5 |
| 3 | Temple Run | 0.0 | USD | 1724546 | 4.5 |
| 4 | Pandora - Music Radio | 0.0 | USD | 1126879 | 4.0 |

Data source: [Mobile App Store data set By Ramanathan Perumal](https://www.kaggle.com/ramamet4/app-store-apple-data-set-10k-apps)

Each value in the table is a data point. For instance, the first row has five data points:

    Facebook
    0.0
    USD
    2974676
    3.5

A collection of data points make up a data set. We can understand our entire table above as a collection of data points, so we call the entire table a data set. We can see that our data set has five rows and five columns.

When we work with data sets, we need to store them in the computer memory to be able to retrieve and manipulate the data points. Using what we've learned so far, we might think we could store each data point in a variable â€” for instance, this is how we might store the first row's data points:
<code>
    track_name_row1 = Facebook
    price_row1 = 0.0
    currency_row1 = 'USD'
    rating_count_tot_row1 = 2974676
    user_rating_row1 = 3.5
</code>

Creating a variable for each data point in our data set would be a cumbersome process. Fortunately, we can store data more efficiently using lists. This is how we can create a list of data points for the first row:
<code>
    row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
</code> 
To create a list of data points, we only need to:

    1. Separate the data points with a comma.
    2. Surround the sequence of data points with brackets.

Now create all the rows:

In [1]:
row1 = ["0", 'Facebook', 0.0, 'USD', 2974676, 3.5]
print(row1)

['0', 'Facebook', 0.0, 'USD', 2974676, 3.5]

List can store multiple data types
We can access each datapoint by considering List as an order sequence. In order to retrive rating of facebook:
<code>
    fb_rating = row_1[4]
</code>
    1. Notice that if we use an index number that is outside the range of the two indexing systems. 
    2. Negative indexing can also be used, mostly to fetch the last element of list.

<b>Now try to fetch rating of Instagram</b>

In [4]:
row1[-1] = 4
print(row1[-1])

4

In [5]:
print(row1)

[0, 'Facebook', 0.0, 'USD', 2974676, 4]

Retrieve the ratings for the first three rows, and then find the average value of all the ratings retrieved.

    1. Assign the last element from the list row_1 to a variable named rating_1. Try to take advantage of negative indexing.
    2. Assign the last element from the list row_2 to a variable named rating_2.
    3. Assign the last element from the list row_3 to a variable named rating_3.
    4. Add the three ratings together and save the sum to a variable named total_rating.
    5. Divide the total by 3 to get the average rating. Assign the result to a variable named average_rating.
    6. Print average_rating

In [3]:

row2=[1,'Instagram',0.0,'USD',2161558,4.5]
row3=[2,'Clash of Clans',0.0,'USD',2130805,4.5]

rating_1=row1[-1]
rating_2=row2[-1]
rating_3=row3[-1]

total=rating_1+rating_2+rating_3
avg=total/3
print("Average is : ", total)

Average is :  12.5

<b>Lets discuss few usefull functions of lists</b>
    1. Add elements to a list
    2. Access sub lists
    3. Search within lists
    4. Delete elements from a list
[Other functions](https://docs.python.org/3/tutorial/datastructures.html)

In [5]:
row1.append(4.5)
row1

['0', 'Facebook', 0.0, 'USD', 2974676, 3.5, 4.5, 4.5]

<h3 align=center>We can use append for that?</h3>

In [16]:
row1

[0, 'Facebook', 0.0, 'USD', 2974676, 4, 4.5]

<h3 align=center>What about the start</h3>

In [10]:
row1.insert(0,'a')
print(row1)

['a', '0', 'Facebook', 0.0, 'USD', 2974676, 3.5, 4.5, 4.5]

<h3 align=center>Slice Elements</h3>

In [11]:
row1[2:]

['Facebook', 0.0, 'USD', 2974676, 3.5, 4.5, 4.5]

<h3 align=center>Delete Elements</h3>

In [16]:
row1.append(4.5)

In [17]:
print(row1)

['a', 0, 'Facebook', 0.0, 'USD', 2974676, 4, 4.5]

In [18]:
row1.remove(4.5)

In [19]:
row1

['a', 0, 'Facebook', 0.0, 'USD', 2974676, 4]

In [20]:
a=[1,2,3,4,3]

In [9]:
a.remove(3)
a

[1, 2, 4]

<h3 align=center>Search Elements</h3>

In [19]:
print(row1.index('USD'))
row1
row1.index(4.5)

4

7

In [25]:
L1 = [1,2,3]
L2 = L1
print(L2)

[1, 2, 3]

In [26]:
L2[0] = 'e'
print(L1)

['e', 2, 3]

<h3 align=center>Pop Elements</h3>

In [27]:
print(L2.pop())
print(L2)

3
['e', 2]

<h3 align=center>Nested Lists</h3>

<h3 align=center>Lists Traversal</h3>

Compute the average rating of the apps by retrieving the right data points from the dataset1/dataset2 list of lists.

    1. The rating is the last element of each row. You'll need to sum up the ratings and then divide by the number of ratings.
    2. Assign the result to a variable named avg_rating.
    
<b>Note: Use loops for this tasks</b>

Some other functions explore yourself
1. help(B)
2. List extend VS append
    B.append(['e','f','g'])
    B.extend(['e','f','g'])
    print(B)
3. Use split function for strings
4. What if we want to copy Lists
    L1 = ['a','b','c']
    L2 = L1
    L2[0]='e'
    print(L1)
5. For clone
    L2 = L1[:]
    L2[0]='x'
    print(L1)
    print(L2)

In [28]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
row_4 = ['Temple Run', 0.0, 'USD', 1724546, 4.5]
row_5 = ['Pandora - Music & Radio', 0.0, 'USD', 1126879, 4.0]

app_data_set = [row_1, row_2, row_3, row_4, row_5]

avg=0
for count in range(0,5):
    avg=avg+app_data_set[count][-1]
    
print(avg)
#avg_rating = (app_data_set[0][-1] + app_data_set[1][-1] + app_data_set[2][-1] + app_data_set[3][-1] + app_data_set[4][-1]) / 5

21.0

In [3]:
l4 = list()
type(l4)

list