<h3 align=center>Sets </h3>
Properties<br>
   1. Sets elements do not have any order.<br>
   2. Duplicates aren't allowed

In [3]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket) # duplicates are removed

{'banana', 'apple', 'orange', 'pear'}

<h3 align=center>List to Set </h3>

Cast the following list to a set: ['A','B','C','A','B','C']

In [2]:
L1 = ['A','B','C','A','B','C']
print(L1[0])
S1 = set(L1)
li=list(S1)
print(S1)
print(li)

A
{'B', 'A', 'C'}
['B', 'A', 'C']

<h3 align=center>Add an Element to the Set</h3>

Add the string  <code>'D'</code> to the set S ={'A','B','C'}

In [5]:
S={'A','B','C'}
S.add('D')
print(S)

{'B', 'D', 'A', 'C'}

<h3 align=center>Delete an Element of a Set</h3>

In [4]:
S={'A','B','C','D','D'}
print(S)
S.remove('D')
print(S)

{'B', 'A', 'D', 'C'}
{'B', 'A', 'C'}

<h3 align=center>Find an Element in a Set</h3>

In [5]:
S={'A','B','C','D'}
print('D' in S)
print('E' in S)

True
False

In [9]:
a = set('abracadabra')
b = set('alacazam')
print(a)
print(b)
c = a - b                              # letters in a but not in b
print(c)
d = a & b                              # letters in both a and b
print(d)
e= a ^ b                              # letters in a or b but not both
print(e)
f = a | b                              # letters in a or b or both
print(f)

{'b', 'd', 'c', 'a', 'r'}
{'c', 'm', 'l', 'z', 'a'}
{'d', 'b', 'r'}
{'a', 'c'}
{'l', 'b', 'z', 'd', 'r', 'm'}
{'b', 'd', 'c', 'm', 'l', 'z', 'a', 'r'}

In [9]:
c = a - b                              
print(c)

{'b', 'r', 'd'}

In [10]:
# letters in a but not in b

In [13]:
d = a & b                              
print(d)

{'a', 'c'}

In [12]:
# letters in both a and b

In [13]:
e= a ^ b                             
print(e)

{'m', 'l', 'r', 'z', 'b', 'd'}

In [14]:
 # letters in a or b but not both

In [15]:
f = a | b                              
print(f)

{'m', 'c', 'a', 'z', 'b', 'd', 'l', 'r'}

In [ ]:
# letters in a or b or both

<h3 align=center>Task</h3>

1. Find the intersection of set <code>A</code> and <code>B</code>
2. How to find subsets?

In [14]:
A={1,2,3,4,5,2}
B={1,3,9,12}
print(type(A))
print(A.add(10))
print(A)

<class 'set'>
None
{1, 2, 3, 4, 5, 10}

In [5]:
A.remove('10')
print(A)

{1, 2, 3, 4, 5}

In [8]:
print(10 not in A)

True

In [18]:
A={1,2,3,4,5}
B={1,3,9,12}

In [19]:
print(A - B)

{2, 4, 5}

In [20]:
print(A & B)

{1, 3}

In [21]:
print(A ^ B)

{2, 4, 5, 9, 12}

In [15]:
print(A | B)

{1, 2, 3, 4, 5, 9, 10, 12}

In [16]:
A = {1:'a',2:'b',3:'c'}
print(1 in A)

True

In [21]:
import numpy as np

In [26]:
a = np.array([0,'1',2,5])
print(a)

['0' '1' '2' '5']

In [24]:
print(a[1])

1.5